.list {
  list-style: none;
  margin: 0;
  padding: 40;
}
.box{
  width:100%;
  margin: 1.1px; 
  overflow: hidden; 
}

.image  {
  margin: 2.5px;
  justify-content: center;
  padding: 4rem 12rem;
  object-fit: cover;
  border-radius: 120px;
  border: 1.5px solid rgb(4, 65, 93);
}
.text {
  color: wheat;
}
.sleept {
  color: antiquewhite;
  overflow: hidden;
}